{% extends 'admin/base.html.twig' %}
{% block body %}

	<div class="container d-flex flex-wrap justify-content-center">
		<button type="button" class="btn btn-dark m-2" id="button_create">
			<a href={{path('category_create')}} id="a_href_create">Ajouter une catégorie</a>
		</button>
	</div>


	<div class="container d-flex flex-wrap justify-content-center">

		{% for category in categories %}
			<div class="card" style="width: 46rem;">

				<div class="card-body">
					<h5 class="card-title">{{ category.id }}</h5>
					<p class="card-text">{{category.Title}}</p>

					<div class="container d-flex flex-wrap justify-content-center">

						<a href={{path('category_update', {'id': category.id} )}}>
							<i class='far fa-edit fa-2x m-3' id="icons"></i>
						</a>
						<a href={{path('category_delete', {'id': category.id} )}}>
							<i class='far fa-trash-alt fa-2x m-3' id="icons"></i>
						</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
