{% extends 'admin/base.html.twig' %}
        {% block body %}

{% for recipe in recipes %}
<div class="card" style="width: 18rem;">

  <img src="public\images\photo.jpg" class="card-img-top" alt="{{ recipe.title }}">
  <div class="card-body">
    <h5 class="card-title">{{ recipe.title }}</h5>
    <p class="card-text">Description de la recette</p>
    <a href="#" class="btn btn-primary">Voir le détail de la recette</a>
      <a href={{path('recipe_update', {'id': recipe.id})}}>Modifier la recette</a>
                <a href={{path('recipe_delete', {'id': recipe.id})}}>Supprimer la recette</a>
  </div>
</div>
        {% endfor %}
        <div>
        <button type="button" class="btn btn-dark m-2" id="button_create">
        <a href={{path('recipe_create')}}>Créer une nouvelle recette</a></button>
</div>
        {% endblock %}
    
